/* html {
    background-color: lightblue;
    background-size: cover;
  

} */

/* .body{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

    } */
body {
    background-size: cover;
    background-image: url('/image.jpg');
}

text {
    font-size: larger;

}

h1 {
    background: #02525b;
    color: white;
    margin: 0;
    padding: 15px;
}

.card {
    background-color: white;
    border: 1px solid whitesmoke;
    width: 30%;
    font-weight: lighter;
    margin: 50px;
}

ul {
    list-style-type: none;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.card>ul>li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 10px;
}

.card>ul>li:last-child {
    border-bottom: none;
}

.removeBtn {
    border: 1px solid red;
    background: red;
    color: white;
    display: flex;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/* h2{
        color: white;
       font-size: xx-large;
       position: absolute;
       top: 30%;
       right: 40%;
    }
    h3{
        color: white;
        font-size: larger;
        position: absolute;
        top: 38%;
        right: 38%;
    } */
.all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    /* background-size: cover;
    background-image: url('/image.jpg'); */
}

.letter {
    color: white;
    font-size: 30;
}